section {
    max-width: 100%;
    max-height: 100vh;
}

.heading {
    padding-top: 60px;
    margin-left: 350px;
    font-size: 80px;
    font-weight: 800;
}


.timeline {
    max-width: 1200px;
    margin: 100px auto;
    margin-top: 70px;
}

.container {
    padding: 10px;
    width: 50%;
    background-color: #d2b48c;
}

.text-box {
    padding: 20px 10px;
    font-size: 15px;
    background-color: #d2b48c;
    border: 2px solid #002147;
}

.text-box h2 {
    background-color: #d2b48c;
    color: #002147;
}

.text-box p {
    margin-top: 2px;
    background-color: #d2b48c;
    color: #002147;
}

.text-box small {
    background-color: #d2b48c;
    color: #002147;
}

.left-container {
    margin-top: 15px;
    left: 0;
}

.right-container {
    margin-top: 15px;
    margin-left: 620px;
}


@media (max-width:768px){
      .education{ 
        padding: 0;
        margin: 0;
        margin-top: 400px;
        display: flex;
        max-width: 100%;
        flex-direction: column;
        max-height: 100vh;
    }
    .education .heading{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        font-size: 35px;
    }
    .timeline .left-container{
       padding-right: 10px;
        margin-left: auto;
        width: 350px;
    }
    .timeline .right-container{
        padding-right: 10px;
        margin-left: auto;
        width: 350px;
        
    }
    .timeline .left-container .text-box{
        margin: 0;
        padding: 10px;
    }
    .timeline .right-container .text-box{
        padding: 0;
        padding: 10px;
    }
}