.navbar{
    position:fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom:1px solid #d2b48c;
}
.navbar h2{
    color: #d2b48c;
    margin-left: 70px;
}
.category{
    display:flex;
    justify-content: flex-end;
    margin-left: 42%;
    gap: 15px;
}

button{
    color: #d2b48c;
    border:2px solid #d2b48c;
    padding-left: 15px;
    padding-right: 15px; 
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    
}
button:hover{
    background: #d2b48c;
    color: #002147;
}
button:hover a{
    background: #d2b48c;
    color: #002147;
}

a{
    text-decoration: none;
    background-color: #002147;
}