.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #d2b48c;
  background-color: #002147;
  z-index: 1000;
}

.navbar h2 {
  color: #d2b48c;
  margin-left: 20px;
}

.category {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 40px;
}

button {
  color: #d2b48c;
  border: 2px solid #d2b48c;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
}

button:hover {
  background: #d2b48c;
  color: #002147;
}

button:hover a {
  color: #002147;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

@media ( max-width:768px){
  .navbar{
    position: sticky;
    max-width: 100vw;
  }
  .navbar h2{
    font-size: 15px;
    margin-left: 0;
  }
  .category{
    padding:0;
    display: none;
  }
}