@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  background-color: #002147;
  font-family: "Outfit", sans-serif;
  color: #d2b48c;
  scrollbar-width: none;
  scroll-behavior: smooth;
}